@import "./node_modules/bootstrap/scss/bootstrap";

#uvod {
  height: 700px;
  background-image: url(img/company.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
h4 {
  text-align: center;
}
.modalBtn {
  text-align: center;
  margin-top: 4rem;
}
.zabyvani {
  text-align: center;
}
.ods {
  align-items: center;
}
.kontakt {
  text-align: center;
  background-color: rgb(211, 211, 211);
}
.font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
